@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row"><div class="col-xs-12">&nbsp;</div></div>
<div class="jumbotron">
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <div class="thumbnail">
                <img src="~/Content/Images/Product_Lg_Type.jpg" alt="...">
                <div class="caption">
                    <h3>Product Name</h3>
                    <p>Product Description</p>
                    <p><a href="#" class="btn btn-primary" role="button">Add</a> <a href="#" class="btn btn-default" role="button">Remove</a></p>
                </div>
            </div>
        </div>
    </div>
</div>